<!DOCTYPE html >
<html>
<head>
<meta charset="utf-8">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<head>
<title>Login</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/login">Login </a> <a
					class="nav-item nav-link active" href="/registration">Registration</a>
			</div>
		</div>
	</nav>
				<h1 class="h3 mb-3 font-weight-normal">
				<center>Please sign up</center>
			</h1>
	<form method="post" th:object="${registration}">
		<div class="form-group">
			<label class="control-label col-sm-2" for="username"><b>Username:</b></label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="username" th:field="*{username}"
					placeholder="Enter username">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="password"><b>Password:</b></label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="password" th:field="*{password}"
					placeholder="Enter password">
			</div>
		</div>
			<button class="btn btn-lg btn-primary" type="submit">Sign up</button>
	</form>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

</html>