<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<c:set var="username">
	<sec:authentication property="principal.username" />
</c:set>
<head>
<meta charset="utf-8">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<head>
<title>Main</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav" sec:authorize="isAnonymous()">
				<a class="nav-item nav-link" href="/login">Login </a> <a
					class="nav-item nav-link" href="/registration">Registration</a>
			</div>
			<div class="navbar-nav" sec:authorize="isAuthenticated()">
				<a class="nav-item nav-link active"
					th:href="@{|/user/${#httpServletRequest.remoteUser}|}">My page</a>
				<a class="nav-item nav-link" href="/logout">Log out </a>
			</div>

		</div>
	</nav>
	<div th:if="${allowed}">

		<form action="#"
			th:action="@{|/user/${#httpServletRequest.remoteUser}/add|}"
			th:object="${message}" method="post">
			<div class="input-group mb-3">
				<input type="text" class="form-control col-sm-5"
					placeholder="Enter new message" aria-describedby="basic-addon2"
					th:field="*{content}">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="sumbit"
						method="post">Post</button>
				</div>
			</div>
		</form>

	</div>

	<div th:each="message :  ${messages}">
		<div class="header">
			<strong class="primary-font" th:text="${message.user}"></strong> <small
				class="pull-right text-muted"> <a th:if="${allowed}"
				class="glyphicon glyphicon-time" th:href="@{|/user/${#httpServletRequest.remoteUser}/delete/${message.id}|}">delete</a>
			</small>
		</div>
		<p th:text="${message.content}"></p>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</html>